<!-- <p>{{sum}}</p>
<p>{{temp}}</p>
<img src="{{iconurl}}" alt=""> -->
<c-card class="mb-3">
    <c-row>   
        <c-col>
    <div class="d-flex justify-content-center align-content-center rounded-top" style="background: #dcdcdc">
        <img src="{{iconurl}}" alt="" style="height: 100px;width: 100px;">
    </div>
</c-col>
</c-row>
<c-container>
<c-row>   
    <c-col style=" background: #080705;border-bottom-left-radius: 2px;">
        <div class="d-flex justify-content-between align-content-center" style=" color:white;font-size: 30px;font-family: Poiret One;">
            <span>{{temp}}&deg;</span>
            <span>{{sum}}</span>
        </div>
</c-col>
<c-col style="background: #70C1B3;border-bottom-right-radius: 2px;">
    <div class="d-flex justify-content-center" style="color:white;font-size: 30px;font-family: Poiret One;">
        {{cityname}}
    </div>
</c-col>
</c-row>
</c-container>
  </c-card>
