<c-card class="example-card custom-card">
    <c-card-header>
        <h5 cCardTitle class="m-2">Devices</h5>
    </c-card-header>
    <c-card-body>
      <p cCardText class="m-2">
        All of your Devices in your environment
    </p>
    <div class="container">
        <div class="row m-4">
            <table >
                <tr class="text-center text-primary fs-6">
                    <th>Device Name</th>
                    <th>Data Source</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                <tr class="text-center" *ngFor="let device of device_info_array">
                <td>{{ device.device_name }}</td>
                <td>{{ device.data_source_id }}</td>
                <td>{{ device.type_of_device }}</td>
                <td>{{device.location}}</td>
                <td>{{device.description}}</td>
                <td><img class="p-2" style="cursor:pointer" src="assets/locationassets/edit.svg" alt="edit" routerLink="devices/edit/{{device.id}}">
                  <img class="p-2" style="cursor:pointer" src="assets/locationassets/delete.svg" alt="delete" (click)="prepareDeleteDevice(device.id)"></td>
                </tr>
            </table>
        </div>
    </div>
    </c-card-body>
  </c-card>

   <!------------------------------------------------->
   <c-modal id="deleteConfirmationModal" alignment="center" [visible]="showDeleteConfirmationModal" (visibleChange)="handleDeleteConfirmationChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Confirm Deletion</h5>
      <button (click)="toggleDeleteConfirmationModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>Are you sure you want to delete this device?</c-modal-body>
    <c-modal-footer>
      <button (click)="toggleDeleteConfirmationModal()" cButton color="secondary">
        Cancel
      </button>
      <button (click)="deviceToDeleteId && deleteDevice(deviceToDeleteId)" cButton color="primary">Delete</button>
    </c-modal-footer>
  </c-modal>

  <!--------------------------------------------------->

  <c-toaster [placement]="position" class="p-3" position="absolute">
    <c-toast

      [visible]="visible"
      class="align-items-center text-white border-0" color="primary">
      <c-toast-header>
        <strong class="me-auto">IOT PLUS</strong>
      </c-toast-header>
      <c-toast-body>
        <span *ngIf="visible">Device Deleted Successfully</span>
      </c-toast-body>
    </c-toast>
  </c-toaster>

  <!-- (timer)="onTimerChange($event)"
  (visibleChange)="onVisibleChange($event)" -->