<c-container>
<c-card class="example-card custom-card">
    <c-card-header>
    <h5 cCardTitle class="m-2">Device general information</h5>
    </c-card-header>
    <c-card-body>
      <p cCardText>
        Here you can modify display name or other general information
    </p>
    <form (ngSubmit)="onSubmit(deviceForm)" #deviceForm="ngForm">
        <div class="container">
          <div class="row">
            <div class="form-group m-2 col">
              <label for="deviceName">Device name:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="deviceName"
                  ngModel
                  #deviceName="ngModel"
                  pattern="^[a-zA-Z][a-zA-Z0-9\s]*$"
                  required
                />
              </div>
              <span *ngIf="!deviceName.valid && deviceName.touched" style="color: red;"
              >PLEASE ENTER A VALID DEVICE NAME</span
            >
            </div>
            <div class="form-group col m-2">
              <label for="level">Data Source ID:</label>
              <input
                type="text"
                class="form-control"
                name="datasourceid"
                ngModel
              />
            </div>
            <div class="form-group col m-2">
              <label for="installdate">Installation Date:</label>
              <input type="date" id="installdate" name="installdate" ngModel>
            </div>
          </div>
    
        <div class="row">
            <div class="form-group col m-2">
              <label for="devicetype">Type of Device:</label>
              <div class="input-group Name">
                <select
                  type="text"
                  name="devicetype"
                  class="form-control"
                  ngModel
                  #deviceTypeSelect = "ngModel"
                >
                  <option value="" disabled="disabled" selected="selected">
                    Select Device
                  </option>
                  <option value="Solar Panel">Solar Panel</option>
                  <option value="Air Purifier">Air Purifier</option>
                  <option value="Lamp">Lamp</option>
                  <option value="Fan">Fan</option>
                  <!-- <option value="ac">AC</option> -->
                  <!-- <option value="heater">heater</option> -->
                </select>
              </div>
            </div>
            <div class="form-group col m-2">
                <label for="location">Location:</label>
                <div class="input-group Name">
                  <select
                    type="text"
                    name="locationid"
                    class="form-control"
                    ngModel
                  >
                  <option value="" disabled="disabled" selected="selected">
                    Select Location
                  </option>
                    <option *ngFor="let location of locations" value="{{location.id}}">{{location.location_name}} {{location.level}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="deviceTypeSelect.value === 'Air Purifier'">
              <div class="form-group m-2 col">
                <label for="filtertype">Filter Type:</label>
                <select
                    type="text"
                    name="filtertype"
                    class="form-control"
                    ngModel
                  >
                  <option value="" disabled="disabled" selected="selected">
                    Select Filter Type
                  </option>
                    <option value="HEPA">HEPA</option>
                    <option value="Carbon">Carbon</option>
                  </select>
              </div>
              <div class="form-group col m-2">
                <label for="filterinterval">Filter Interval:</label>
                <select
                type="text"
                name="filterinterval"
                class="form-control"
                ngModel
              >
              <option value="" disabled="disabled" selected="selected">
                Select Filter Interval
              </option>
                <option value="3">3 Months</option>
                <option value="6">6 Months</option>
              </select>
              </div>
              <div class="form-group col m-2">
              <label for="lastfilterdate">Last Filter Change Date:</label>
              <input type="date" id="lastfilterdate" name="lastfilterdate">
              </div>
            </div>
            <div class="row">
                <div class="form-group m-2 col">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!deviceForm.valid"
                    *ngIf="!isLoading"
                  >
                    Create Device
                  </button>
                  
                  <button *ngIf="isLoading" cButton class="m-1" disabled>
                    <c-spinner  size="sm" variant="grow"></c-spinner>
                    Creating Device
                  </button>

                  <button
                  class="btn btn-primary m-2"
                >
                  Cancel
                </button>
                </div>
              </div>
        </div>
      </form>
    </c-card-body>
  </c-card>
</c-container>

<!---------------------------------------------------------------------------------------------------------------->

<c-toaster [placement]="position" class="p-3" position="absolute">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    class="align-items-center text-white border-0" color="primary">
    <c-toast-header>
      <strong class="me-auto">IntelliHouse</strong>
    </c-toast-header>
    <c-toast-body>
      <span *ngIf="visible">{{successMessage}}</span>
    </c-toast-body>
  </c-toast>
</c-toaster>
