.infodiv {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    transition: all 0.3s ease;
   }
   
   .infodiv:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
   }
   
   .lamp-container {
    display: flex;
    flex-wrap: nowrap;
    // margin-right: 5px;
    justify-content: space-between; /* Optional: Adds space between items */
   }
   
   .lamp-item {
    // flex: 1 0 calc(50% - 10px); /* Adjusts the width of each item to take up half the container's width minus some margin */
    // margin-right: 5px; /* Optional: Adds some margin around each item */
   }