<c-card class="example-card">
    <c-card-header>
        <h5 cCardTitle class="m-2">Locations</h5>
    </c-card-header>
    <c-card-body>
      <p cCardText class="m-2">
        Manage locations in your account
    </p>
    <div class="container">
        <div class="row m-4">
            <table >
                <tr class="text-center text-primary fs-6">
                    <th>Image</th>
                    <th>Location name</th>
                    <th>Level</th>
                    <th>Actions</th>
                </tr>
                <tr class="text-center" *ngFor="let location of location_info_array">
                <td><img style="width: 150px; height: 150px" [src]="location.img_name" alt={{location.img_name}}></td>
                <td><p>{{ location.location_name }}</p></td>
                <td><p>Level: {{ location.level }}</p></td>
                <td><img class="p-2" style="cursor:pointer" src="assets/locationassets/edit.svg" alt="edit" routerLink="locations/edit/{{location.id}}">
                  <img class="p-2" style="cursor:pointer" src="assets/locationassets/delete.svg" alt="delete" (click)="deleteLocation(location.id)"></td>
                </tr>
            </table>
        </div>
    </div>
</c-card-body>
  </c-card>