c-sidebar {
    --cui-sidebar-brand-color:#6366f1;
--cui-sidebar-brand-bg: #ffffff;
  --cui-sidebar-bg: #ffffff;
  --cui-sidebar-nav-link-active-color: #6366f1;
  --cui-sidebar-nav-link-color: #6366f1;
  --cui-sidebar-nav-link-disabled-color: #6366f1;
  --cui-sidebar-nav-link-hover-color: #6366f1;
  --cui-sidebar-nav-link-hover-bg: #f6f9fc;
  --cui-sidebar-nav-group-bg: #f6f9fc;
  --cui-sidebar-nav-group-toggle-show-color: #6366f1;
  --cui-sidebar-nav-link-border-radius: 6px;
  --cui-sidebar-footer-bg: #ffffff;
}
*{
    font-family: "Poppins",sans-serif;
}