
c-sidebar {
  --cui-sidebar-bg: #ffffff;
  --cui-sidebar-brand-color:#0d6efd;
  --cui-sidebar-brand-bg: #ffffff;
  --cui-sidebar-nav-link-color: #000000;
  --cui-sidebar-nav-link-hover-color: #0d6efd;
  --cui-sidebar-nav-link-icon-color: #0d6efd;
  --cui-sidebar-nav-link-hover-bg: #99a9ff2e;
  --cui-sidebar-nav-link-hover-icon-color: #0d6efd;
  --cui-sidebar-nav-link-active-color: #0d6efd;
  --cui-sidebar-nav-link-active-icon-color: #0d6efd;
  // --cui-sidebar-nav-link-active-bg:  #ffffff;
  // --cui-sidebar-nav-link-disabled-color: #6366f1;
  // --cui-sidebar-nav-link-disabled-icon-color: #6366f1;
  --cui-sidebar-nav-group-bg: #99a9ff2e;
  --cui-sidebar-nav-group-toggle-show-color: #000000 ;
  --cui-sidebar-nav-link-border-radius: 6px;
  --cui-sidebar-nav-link-padding-x: 10px;
  --cui-sidebar-nav-link-padding-y: 14px;
  --cui-sidebar-nav-icon-width: 50px;
  --cui-sidebar-nav-icon-height: 24px;
  --cui-sidebar-nav-icon-font-size: 20px;
  --cui-mobile-breakpoint: 400px;
  --cui-sidebar-footer-bg: #ffffff;
--cui-sidebar-nav-group-indicator: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28000, 000, 000, 0.6%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
--cui-sidebar-nav-group-indicator-hover: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%28000, 000, 000, 0.6%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
*{
    font-family: "Poppins",sans-serif;
}
