/* You can add global styles to this file, and also import other style files */
@import "@coreui/coreui/scss/coreui";
@import "bootstrap/dist/css/bootstrap.min.css";

.custom-card {
    box-shadow: 4px 4px 0px 0 #6366f1;
    transition: 0.3s;

    &:hover {
        box-shadow: 6px 6px 0px 0 #6366f1;
    }
 
}