<c-container class="mt-4" >
  <c-row>
    <c-col class="col-xs-4 col-md-7 col-lg-8" >
      <c-card class="mb-4 custom-card" style="height: 200px;">
        <img
          [cCardImg]
          src="./assets/homebg.jpg"
          style="height: 100%; width: 100%; object-fit: cover"
        />
        <c-card-img-overlay>
          <h2 cCardTitle class="text-white m-3">Hello User!</h2>
          <p cCardText class="text-white m-3">
            Welcome Home.The air quality is good you can go out today!
          </p>
        </c-card-img-overlay>
      </c-card>
      <c-row class="mb-4">
        <c-col class="col-12 col-md-6">
          <app-weathercomp></app-weathercomp>
        </c-col>
        <c-col>
          <c-row>
            <c-col>
          <app-airquality></app-airquality>
        </c-col>
        </c-row>
        </c-col>
      </c-row>
      <c-row>

        <c-col>
          <c-card
            style="background-color: #34139e; color: white; font-weight: 100"
            class="bg-gradient custom-card mb-4"
            *ngIf="!showElgraph"
          >
            <c-card-body>
              <h5 cCardTitle>Energy Consumption</h5>
              <div class="d-flex justify-content-between align-items-center">
                <span>Today's Consumption : 22KWH</span>
                <button cButton color="light" (click)="toggleElGraph()">
                  <img
                    src="./assets/solar-icon.png"
                    alt=""
                    style="width: 20px; height: 20px"
                  />
                </button>
              </div>
            </c-card-body>
          </c-card>
          <c-card *ngIf="showElgraph">
            <app-electricity> </app-electricity>
            <button cButton color="light" (click)="toggleElGraph()">
              Show Today's Consumption
            </button>
          </c-card>
        </c-col>

        <c-col>
          <c-card
            style="background-color: #ffc107; color: white; font-weight: 100"
            class="bg-gradient custom-card mb-4"
            *ngIf="!showgraph"
          >
            <c-card-body>
              <h5 cCardTitle>Solar Energy Generation</h5>
              <div class="d-flex justify-content-between align-items-center">
                <span>Today's Generation : 22KWH</span>
                <button cButton color="light" (click)="toggleGraph()">
                  <img
                    src="./assets/solar-icon.png"
                    alt=""
                    style="width: 20px; height: 20px"
                  />
                </button>
              </div>
            </c-card-body>
          </c-card>
          <c-card *ngIf="showgraph">
            <app-solar> </app-solar>
            <button cButton color="light" (click)="toggleGraph()">
              Show Today's Generation
            </button>
          </c-card>
        </c-col>
      </c-row>
    </c-col>

    <c-col class="col-md-4 col-lg-4"
      ><c-card class="text-center mb-4 border-top border-primary custom-card">
        <c-card-header>
          <nav class="nav nav-pills flex-column flex-sm-row">
            <div class="col">
            <a class="flex-sm-fill text-sm-center nav-link" (click)="selectedComponent='hall'" style="cursor: pointer;" [ngClass]="selectedComponent==='hall' ? 'active' : ''">Hall</a>
          </div>
          <div class="col">
            <a class="flex-sm-fill text-sm-center nav-link" (click)="selectedComponent='kitchen'" style="cursor: pointer;" [ngClass]="selectedComponent==='kitchen' ? 'active' : ''">Kitchen</a>
          </div>
          <div class="col">
            <a class="flex-sm-fill text-sm-center nav-link" (click)="selectedComponent='bedroom'" style="cursor: pointer;" [ngClass]="selectedComponent==='bedroom' ? 'active' : ''">Bedroom</a>
          </div>
          </nav>
        </c-card-header>
        <c-card-body>
          <app-hall *ngIf="selectedComponent === 'hall'"></app-hall>
          <app-bedroom *ngIf="selectedComponent === 'bedroom'"></app-bedroom>
          <app-kitchen *ngIf="selectedComponent === 'kitchen'"></app-kitchen>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
</c-container>
